:root {
  --darkGreyishBlue: hsl(217, 19%, 35%);
  --desaturatedBlue: hsl(214, 17%, 51%);
  --greyishBlue: hsl(212, 23%, 69%);
  --lightGreyishBlue: hsl(210, 46%, 95%);
}
body {
  font-family: "Manrope", sans-serif;
  background-color: var(--lightGreyishBlue);
}
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.main {
  margin: 150px auto;
  width: 800px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 40px var(--greyishBlue);
}
.mainImg {
  width: 40%;
  background-image: url(images/drawers.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.articleCont {
  width: 60%;
  background-color: white;
}
.articleCont h2,
#authorName {
  color: var(--darkGreyishBlue);
}
.articleCont h2 {
  margin: 0;
  padding: 30px 45px 0 45px;
}
.articleCont p {
  margin: 0;
  font-size: 13px;
  padding: 15px 45px 0 45px;
}
.articleCont p,
#articleDate {
  color: var(--desaturatedBlue);
}
footer {
  align-items: center;
  justify-content: space-between;
  padding: 20px 45px 0 45px;
}
.authorImg img {
  width: 45px;
  border-radius: 50%;
}
.authorInfo {
  justify-content: space-evenly;
}
#authorName {
  font-weight: 700;
  margin: 0 0 0 20px;
  padding: 0;
}
#articleDate {
  margin: 0;
  margin: 0 0 0 20px;
  padding: 0;
}
#shareBtn svg {
  background-color: var(--lightGreyishBlue);
  border-radius: 50%;
  fill: var(--desaturatedBlue);
  padding: 11px 10px;
  transition: 0.3s;
}
#shareBtn svg:hover {
  background-color: var(--desaturatedBlue);
  transition: 0.3s;
  fill: white;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
